{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1>Connexion</h1>

{% if error %}
    <div style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form method="post">
    <label>Email</label>
    <input type="text" name="mail" value="{{ last_username }}" required autofocus>

    <label>Mot de passe</label>
    <input type="password" name="password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div>
        <input type="checkbox" name="_remember_me"> Se souvenir de moi
    </div>

    <button type="submit">Se connecter</button>
</form>
{% endblock %}